---
import { cn } from "../lib/utils";

interface Props {
  href: string;
  className?: string;
  newTab?: boolean;
}
const { href, className, newTab } = Astro.props as Props;
---

<a
  href={href}
  class={cn("hover:underline", Astro.props.className)}
  target={newTab ? "_blank" : undefined}
  rel={newTab ? "noopener noreferrer" : undefined}
>
  <slot />
</a>
