---
const skills = [
  {
    category: "Languages",
    items: ["HTML", "CSS", "JavaScript", "TypeScript"],
  },
  {
    category: "Frameworks",
    items: ["AstroJS", "React", "NextJS", "TailwindCSS"],
  },
  {
    category: "Tools",
    items: ["Git", "Figma", "Vercel", "Convex", "Framer"],
  },
];
---

<section class="py-8">
  <h2 class="text-sm font-medium uppercase tracking-widest text-muted mb-8">
    Skills
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
    {
      skills.map((group) => (
        <div>
          <h3 class="text-foreground font-medium mb-4">{group.category}</h3>
          <ul class="flex flex-col gap-2">
            {group.items.map((skill) => (
              <li class="text-sm text-muted">{skill}</li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</section>
